# ID пользователя из ТГ (можно получить у любого бота для получения ID. например @re_GetMyIDBot)
USER_ID = 
# API ключ вашего бота, который будет пересылать сообщения
TG_BOT_KEY = 
# Юзернейм вашего ТГ канала
TG_CHANNEL = @